<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
   <h1>The Home Page <%= 'hello world'.toUpperCase() %> </h1> 
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi repudiandae dicta earum iusto odit ab eum eaque beatae, quod sapiente perspiciatis, vitae ullam tempora eius reiciendis excepturi incidunt, blanditiis non.</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi repudiandae dicta earum iusto odit ab eum eaque beatae, quod sapiente perspiciatis, vitae ullam tempora eius reiciendis excepturi incidunt, blanditiis non.</p>
</body>
</html>